.bg-my {
  min-height: 100vh;
}

.my-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  margin-top: 20px;
  
}

.my-con-col{
  height: 70vh;
  width: 100%;
  /* height: inherit; */
}

.my-col-6 {
  border: 1px solid black;
}